[Unit]
Description=OLED Stats Display Service
After=network.target

[Service]
User=YOUR_USERNAME
WorkingDirectory=/home/YOUR_USERNAME
ExecStartPre=/bin/sleep 10
ExecStart=/home/YOUR_USERNAME/myenv/bin/python /home/YOUR_USERNAME/stats.py
Restart=always

[Install]
WantedBy=multi-user.target
